<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">History of Guyana</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <% if current_user %>

      <ul class="nav navbar-nav navbar-right">
        <li>
          <div class="navbar-text"><%= current_user_email %></div>
        </li>
        
        <li><form><a href="#" class="btn btn-success navbar-btn btn-sm" data-toggle="modal" data-target="#new-question-modal">Ask Question</a></form></li>
      <li><%= link_to "Log out", destroy_user_session_path, method: :delete %></li>
      </ul>
   
   <% else %>
   <div>
     <%= button_to "Sign In", new_user_session_path, class: "home btn btn-success navbar-btn btn-sm" %>
     <%= link_to "Sign Up", new_user_registration_path, class: "home btn btn-success navbar-btn btn-sm" %>
    <% end %>
    </div>
    </div>
  </div>
</nav>
